<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="CSS/style.css" type="text/css" />
		<link rel="stylesheet" href="CSS/footer-distributed.css" type="text/css" >
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
		<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	</head>
	<body>
		<div id="page" ng-app="myChat">
			<header>
				<center><img id="banniere" src="IMAGE/banniere.png" alt="" /></center>
			</header>
			<nav>
			</nav>
			<div id="box" ng-controller="ChatCtrl">
				<div id="channelBox">
					<p>channels</p>
					<div ng-repeat="channel in channels">
						<p>{{channel}}</p>
					</div>
				</div>
				<div id="msgBox">
					<p>Messages</p>
					<div id="content">
						<div ng-repeat="message in messages">
						<p>{{message}}</p>
						</div>
					</div>
					<form ng-submit="sendMessage()">
						<input id="inputcontent" ng-model="newMessage" placeholder="message"></input>
						<button type="submit" id="buttonSend">Envoyer</button>
					</form>
				</div>
				<div id="userBox">
					<p>users</p>
					<div="user in users">
						<p>{{user}}</p>
					</div>
				</div>
			</div>
			<footer class="footer-distributed">

				<div class="footer-right">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

				<div class="footer-left">

					<p class="footer-desc">
						Chat realise dans le cadre d'un projet scolaire tutore de l'universite Blaise Pascal Clermont-Ferrand 
					</p>

					<p>M1 Informatique UBP Clermont-Ferrand &copy; 2017</p>
				</div>

			</footer>
		</div>
	</body>
	<script>
	(function() {
		var uniqid = function() {
				return (new Date().getTime() + Math.floor((Math.random()*10000)+1)).toString(16);
		};
		var app = angular.module("myChat",[]);
		app.controller("ChatCtrl",function($scope) {
			var socket = io('http://localhost:8089');
			var uuid = uniqid();
			var nickname = uuid;
			$scope.messages = [];
			$scope.users = [];
			$scope.channels = [];
			currentChannel = "";
			
			$scope.sendMessage = function() {
				var parseMsg = $scope.newMessage.split(' ');
				var message = "";
				switch(parseMsg[0]) {
					case "/JOIN":
						socket.emit("message", "JOIN " + parseMsg[1]);
						$scope.messages.push("You have join channel : " + parseMsg[1]);
						$scope.channels.push(parseMsg[1]);
						currentChannel = parseMsg[1];
						$scope.newMessage = undefined;
						$scope.$apply();
						break;
					case "/NICK":
						socket.emit("message", "NICK " + parseMsg[1]);
						$scope.messages.push("You have change your nickname : " + parseMsg[1]);
						socket.emit("message","USER " + parsingMsg[1] + " 0 * : " + parsingMsg[1]);
						$scope.newMessage = undefined;
						$scope.$apply();
						break;
					case "/NAMES":
						//users on every channel
						socket.emit("message","NAMES");
						socket.on("message",function(msg) {
							$scope.$apply(function(){
								$scope.messages.push(msg);
							});
						});
						$scope.newMessage = undefined;
						break;
					case "/LIST":
						//list every channels with their topic
						socket.emit("message","LIST");
						$scope.newMessage = undefined;
						break;
					case "/PART":
						//leave the channel
						socket.emit("message","PART " + parsingMsg[1]);
						$scope.newMessage = undefined;
						break;
					case "/QUIT":
						//leave the server
						socket.emit("message","QUIT");
						$scope.newMessage = undefined;
						break;
					case "/WHO":
						//users in the channel
						socket.emit("message","WHO " + parsingMsg[1]);
						$scope.newMessage = undefined;
						break;
					default:
						socket.emit("message","PRIVMSG " + currentChannel + " : " + $scope.newMessage);
						$scope.messages.push("Gilo :" + $scope.newMessage);
						$scope.newMessage = undefined;
						$scope.$apply();
				}
			}
			
			socket.on("message",function(msg) {
				$scope.$apply(function(){
					$scope.messages.push(msg);
			  });
			});
		});
	})();

	</script>
</html>