<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="CSS/style.css" />
		<link rel="stylesheet" href="CSS/footer-distributed.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	</head>
	<body>
		<div id="page" ng-app="myForm">
			<header>
				<center><img id="banniere" src="IMAGE/banniere.png" alt="" /></center>
			</header>
			<div id="corps">
				<div id="imagePandaG">
					<img src="IMAGE/image.png" alt="" />
				</div>
				<div class="flexbox-container">
					<section id="connexionGuest" class="formulaire">
						<form action="index.html" method="post" class="formType">
							<div class="form">
								<fieldset>
									<legend>Invites</legend>
									<p>Se connecter en tant qu'invite</p>
								</fieldset>
								<input type="submit" name="submit" value="Connexion"/>
							</div>
						</form>
					</section>
					<section ng-controller="form1Ctrl" id="connexion" class="formulaire">
						<form ng-submit="index.html" class="formType">
							<div class="form">
								<fieldset>
									<legend>Connexion</legend>
									<p><label for="pseudo">Pseudo</label><input type="text" ng-model="nickname"/></p>
									<p><label for="pwd">mot de passe</label><input type="password" ng-model="pwd"/></p>
									<p><label for="channel">Server</label><input type="text" ng-model="server"/></p>
									<p><label for="port">Port</label><input type="text" ng-model="port"/></p>
								</fieldset>
								<input value="Connexion"/>
							</div>
						</form>
					</section>
					<section id="inscription" class="formulaire">
					<form action="#" method="post" class="formType" name="myInscript">
						<div class="form">
							<fieldset>
								<legend>Inscription</legend>
								<p><label for="name">Nom</label><input type="text" ng-model="name"/></p>
								<p><label for="firstname">Prenom</label><input type="text" ng-model="firstname"/></p>
								<p><label for="pseudo">Pseudo</label><input type="text" ng-model="pseudo"/></p>
								<p><label for="mdp">mot de passe</label><input type="password" ng-model="mdp"/></p>
								<p><label for="mdpConf">confirmation mdp</label><input type="password"/></p>
								<p><label for="channel1">channel</label><input type="text" ng-model="chn"/></p>
							</fieldset>
							<input type="submit" name="submit" value="Soumettre"/>
						</div>
					</form>
					</section>
				</div>
				<div id="imagePandaD">
					<img src="IMAGE/image.png" alt="" />
				</div>
			</div>
		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-desc">
					Chat realise dans le cadre d'un projet scolaire tutore de l'universite Blaise Pascal Clermont-Ferrand 
				</p>

				<p>M1 Informatique UBP Clermont-Ferrand &copy; 2017</p>
			</div>

		</footer>
		</div>

	</body>
	<script>

	</script>
</html>