
<div ng-controller="ircCtrl">
    <div id="channels">
        <h3>Channels list</h3>
        <div ng-repeat="channel in channels">
            <button class="buttonChUs" ng-click="joinChannel(channel)" ng-class="channel.status === 0 ? (channel.right === 0 ? 'common-channel' : (channel.right === 1 ? 'secret-channel' : 'private-channel'))" ng-class="channel.notif === 1 ? 'notif-messageOn' : 'notif-messageOff'" ng-context-menu="menuOptions(channel)">{{channel.chan}}</button>
        </div>
    </div>
	<div id="users">
        <h3>Users list</h3>
        <div ng-repeat="user in currentChannel.listU">
            <button class="buttonChUs" ng-context-menu="menuOptionsUser(user)" ng-class="user.right === 3 ? 'admin-color' : ( user.right === 1 ? 'operator-color' : 'default-color')">{{user.nick}}</button>
        </div>
    </div>
	
    <div id="messages" scroll-bottom="currentChannel.messages">
        <h3>{{topicChannel}}</h3>
        <div ng-repeat="message in currentChannel.messages track by $index">
            <div class="messInBox">
				<p class="users" ng-class="message[0].right === 3 ? 'admin-color' : (message[0].right === 1 ? 'operator-color' : ( message[0].right === 2 ? 'user-color' : 'default-color'))">{{message[0].nick}}</p>
				<p class="date">{{message[1]}}</p>
				<p>{{message[2]}}</p>
			</div>
        </div>
    </div>

	<form ng-submit="sendMessage()">
		<div id="divSendMessage">
			<input id="inputSendMessage" ng-model="newMessage" placeholder="message"></input>
		</div>
		<div id="divSubmit">
			<button type="submit" id="submitSendMessage">Envoyer</button>
		</div>
	</form>
</div>