
<div ng-controller="log_in_controller">

    <section id="connexion" class="formulaire">
        <form ng-submit="index.html" class="formType">
            <div class="container login-container">
                <span>
                    <label for="connexion_pseudo">
                        Pseudo
                    </label>
                    <input id="connexion_pseudo" type="text" ng-model="nickname" value="test"/>
                </span>
                <span>
                    <label for="connexion_password">
                        mot de passe
                    </label>
                    <input id="connexion_password" type="password" ng-model="password"/>
                </span>
            </div>
            <div class="container server-container">
                <span>
                    <label for="connexion_server">
                        Server
                    </label>
                    <input id="connexion_server" type="text" ng-model="server" value="127.0.0.1"/>
                </span>
                <span>
                    <label for="connexion_port">
                        Port
                    </label>
                    <input id="connexion_port" type="text" ng-model="port" value="8089"/>
                </span>
                <button ng-click="loadChat()" class="btn-solid btn-connect">Se connecter</button>
            </div>
        </form>

    </section>
</div>
