
<div ng-controller="log_in_controller">

    <section id="connexion" class="formulaire">
        <form ng-submit="valid() && logIn()" class="formType" novalidate>
            <div class="container login-container">
                <span>
                    <label>
                        Pseudo
                    </label>
                    <input id="connexion_pseudo" class="focus" type="text" ng-model="nickname" placeholder="Optionnal"/>
                </span>
                <span>
                    <label for="connexion_id">
                        Id
                    </label>
                    <input id="connexion_pseudo" class="focus" type="text" ng-model="id" placeholder="Optionnal"/>
                </span>
                <span ng-show="isSetId()">
                    <label for="connexion_password">
                        Password
                    </label>
                    <input id="connexion_password" class="focus" type="password" ng-model="password" placeholder="Required"/>
                </span>
            </div>
            <div class="container server-container">
                <span>
                    <label for="connexion_server">
                        Server
                    </label>
                    <input id="connexion_server" class="focus" type="text" ng-model="server" placeholder="Optionnal"/>
                </span>
                <span ng-show="isSetServer()">
                    <label for="connexion_port">
                        Port
                    </label>
                    <input id="connexion_port" class="focus" type="text" ng-model="port" placeholder="Optionnal"/>
                </span>
                <button type="submit" class="btn-solid btn-connect">Connect</button>
            </div>
        </form>

    </section>
</div>
