body {
    margin: 0;
    padding: 0;
}

label {
    color:black;
    font-weight:bold;
    padding-top:6px;
    text-shadow:0px -1px 0px rgba(0,0,0,0.2);
}

input {
    display:block;
    color:#dedede;
    margin:auto;
    text-shadow:0px 1px 0px #4d4d4d;
    background:#4d4d4d;
    -webkit-border-radius:0px 5px 5px 0px;
}

input[type="submit"] {
    width:95px;
    height:30px;
    margin-left:295px;
    font-size:1em;
    font-weight:bold;
    border:none;
    color:#cecece;
    text-shadow:0px -1px 0px #000;
    background:#1f2026;
    background:-webkit-gradient(linear,left top,left bottom,from(#1f2026),to(#15161a));
    -webkit-border-radius:5px;
    -webkit-box-shadow:0px 0px 1px #000;
}
input[type="submit"]:hover {
    background:#343640;
    background:-webkit-gradient(linear,left top,left bottom,from(#343640),to(#15161a));
}

legende {
    font-family:"Trebuchet MS",cursive,sans-serif;
    color:#464d55;
}
