<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-desc">
            Chat realise dans le cadre d'un projet scolaire tutore de l'universite Blaise Pascal Clermont-Ferrand
        </p>
        <p>M1 Informatique UBP Clermont-Ferrand &copy; 2017</p>
    </div>
</footer>
</body>
</html>