<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Pand'Irc</title>
	<link rel="icon" type="image/ico" href="/images/pandab.ico" />
    <link rel="stylesheet" href="/stylesheets/irc.css" type="text/css" >
    <link rel="stylesheet" href="/stylesheets/log_in.css" type="text/css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="/javascripts/lib/Channel.js"></script>
    <script src="/javascripts/lib/User.js"></script>
	<script src="/javascripts/lib/isAdmin.js"></script>
	<script src="/javascripts/lib/In_Message.js"></script>
	<script src="/javascripts/lib/Whisper.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers/sign_in.js"></script>
    <script src="/javascripts/controllers/log_in.js"></script>
    <script src="/javascripts/controllers/irc.js"></script>
	<script src="/javascripts/directives/autoscroll.js"></script>
	<script src="/javascripts/directives/contextmenu.js"></script>
</head>

<body>

